<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.druciak.escorerapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.RunningMatchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DrawActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.matchSettings.MatchSettingsActivity"
            android:label="@string/title_activity_match_settings"
            android:parentActivityName=".view.mainPanel.MainPanelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GoodbyeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_goodbye"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".view.mainPanel.MainPanelActivity"
            android:label="@string/title_activity_main_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.createAccount.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".view.login.LoginActivity" />
        <activity
            android:name=".view.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
    </application>

</manifest>